/* $ui VERSION: 1.0.0.208*/
body,
html {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  -webkit-text-size-adjust: 100%;
}
::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}
/* Android highlighting fix */
div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
.no-select {
  user-select: none;
  -webkit-user-select: none;
}
.ui-black-translucent {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gIBFAgWAb7XDwAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAADUlEQVQI12NgYGCoBwAAhACAxkwJbwAAAABJRU5ErkJggg==");
}
.ui-black-dark-translucent {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gwBECUL+qv3hAAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAADUlEQVQI12NgYGA4DgAAzADICAU7QQAAAABJRU5ErkJggg==");
}
/**** Light Coloring ********/
/**** Dark Coloring ********/
/**** Default Visuals ********/
/**** Bold Visuals ********/
.ui-icon-back-white {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAACNvAAAjbwE1/Af7AAAAB3RJTUUH3wITEwU3zHrjKAAAAfNJREFUeNrt3SFOQ0EARdH30SgUS8Dia0gwsC4WwiYA0wSDx7IEFAo/GASyogwT3nmuScVP78l0kopuY4xY7058BAAYAAaAAWAAGAB25J0leUhyAUBn/H2S2yTPKyIA4PfjX36/Pl8RAQBz4mdVBADMi78kAgDmxv+J4G6FB978GDQ9fpK8JLlJ8ukEEB8A8QEQHwDxARAfAPEBEB8A8QEQHwDxARAfAPEBEB8A8QEQHwDxARAfAPEBEB8A8QEQHwDxARAfAPEBEB8A8QEQHwDxARC/GoD4xQDELwYgfjEA8YsBiF8MQPxiAOIXAxC/GID4xQDELwYgfjEA8YsBiF8MQPxiAOIXAxC/GID4xQDELwYgfjEA8YsBiO8EsGYAH0muk7we8N5dkqckp9L9rxMAAl8BELgDQOASCAEAEAAAAQAQAAABABAAAAEAEAAAAQAQAAABABAAAAEAEAAAAQAQAAABABAAAAEAEAAAAQAQAAABABAAAAEAEAAAAQAQAAABABAAAAEAEAAAAQAQAAABABAAAAEA9QgAKEcAQDkCAMoRAFCOAIByBACUIwCgHAEA5QgA+DsE9ys89DbGkO64O+RPsN6TXCV5cwL0nQTLxAdgPoKl4gMwF8Fy8QGYh+BxxfgugeYEAMAAMAAMAAPA6vYFjINbZz6islsAAAAASUVORK5CYII=");
}
/* Circle Menu */
.ui-circle-menu {
  user-select: none;
  -webkit-user-select: none;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
}
.ui-circle-menu > .menu-item {
  position: absolute;
  width: 250px;
  height: 250px;
  -webkit-transition: -webkit-transform 0.5s ease;
  -webkit-transition-delay: 0s;
  -webkit-backface-visibility: hidden;
}
.ui-circle-menu > .menu-item > .circle {
  position: relative;
  height: 200px;
  width: 200px;
  border-style: solid;
  border-width: 3px;
  border-radius: 101px;
  box-sizing: border-box;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.ui-circle-menu.ui-theme-dark > .menu-item > .circle {
  border-color: #d4d4d4;
  background-color: #000000;
}
.ui-circle-menu.ui-theme-light > .menu-item > .circle {
  border-color: #d4d4d4;
  background-color: #FFFFFF;
}
.ui-circle-menu > .menu-item > .circle > .icon {
  height: 194px;
  width: 194px;
  border-radius: 98px;
  background-position: center center;
  background-size: 120px 120px;
  background-repeat: no-repeat;
}
.ui-circle-menu.ui-theme-light > .menu-item > .circle > .icon {
  -webkit-filter: invert(50%);
  filter: invert(50%);
}
.ui-circle-menu > .menu-item > .caption {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.ui-circle-menu.ui-theme-dark > .menu-item > .caption {
  color: #ffffff;
}
/* Control Group */
/* Base Tile styling */
.ui-tile {
  user-select: none;
  -webkit-user-select: none;
  position: absolute;
  height: 246px;
  width: 246px;
  box-sizing: border-box;
  margin: 5px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
}
.ui-tile.ui-theme-dark {
  background-color: #000000;
  border-color: #d4d4d4;
  color: #ffffff;
}
.ui-tile.ui-theme-light {
  background-color: #e6e6e6;
  border-color: #d4d4d4;
  color: #747474;
}
.ui-tile > .loading,
.ui-tile > .content {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.ui-tile > .loading > .ui-spinner {
  margin-top: 50%;
  top: -25px;
}
.ui-tile > .content {
  display: none;
}
.ui-tile.wide {
  width: 502px;
}
.ui-tile.wide > .loading > .ui-spinner {
  margin-top: 25%;
}
.ui-tile.tall {
  height: 502px;
}
.ui-tile.tall > .loading > .ui-spinner {
  margin-top: 100%;
}
/* Base Tile styling */
.ui-tile-donut-chart {
  user-select: none;
  -webkit-user-select: none;
}
.ui-tile-donut-chart .chart {
  height: 180px;
  width: 180px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ui-tile-donut-chart .chart > canvas {
  height: 100%;
  width: 100%;
  margin-top: 15px;
  margin-left: -60px;
}
.ui-tile-donut-chart .chart {
  background-position: center center;
  background-size: 50px 50px;
  background-repeat: no-repeat;
}
.ui-tile-donut-chart > .content > .caption {
  position: absolute;
  height: 60px;
  line-height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  font-size: 15px;
}
.ui-tile-donut-chart > .content.has-accent > .caption {
  height: 70px;
}
.ui-tile-donut-chart > .content > .caption > .tall {
  font-size: 40px;
  font-weight: 100;
}
.ui-tile-donut-chart > .content > .accent {
  position: absolute;
  height: 28px;
  line-height: 20px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  font-size: 12px;
  display: none;
}
.ui-tile-donut-chart > .content.has-accent > .accent {
  display: inline;
}
/* Core Gauge Tile styling */
.ui-tile-gauge {
  user-select: none;
  -webkit-user-select: none;
}
.ui-tile-gauge > .content > .title {
  height: 80px;
  line-height: 80px;
  font-size: 35px;
  text-align: center;
  font-weight: 100;
  margin-top: 5px;
}
.ui-tile-gauge > .content > .chart {
  position: relative;
  height: 130px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.ui-tile-gauge > .content > .chart > .graph-canvas {
  transform: translateZ(0);
}
.ui-tile-gauge > .content > .chart > .value {
  position: absolute;
  bottom: 30px;
  left: 0px;
  right: 0px;
  height: 40px;
  font-size: 25px;
  text-align: center;
}
.ui-tile-gauge > .content > .chart > .labels-area {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 30px;
  font-size: 12px;
}
.ui-tile-gauge > .content > .chart > .labels-area > .label {
  position: absolute;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.ui-tile-gauge > .content > .chart > .labels-area > .label.left {
  width: 40px;
  left: 0px;
}
.ui-tile-gauge > .content > .chart > .labels-area > .label.right {
  width: 40px;
  right: 0px;
}
.ui-tile-gauge > .content > .chart > .labels-area > .label.center {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
/* Dock Layout styling */
.ui-dock-layout {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.ui-dock-layout > .dock {
  position: relative;
}
.ui-dock-layout > .contents {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-overflow-scrolling: -blackberry-touch;
  z-index: 0;
  flex: auto;
}
/* Generic List Item */
.ui-generic-list-item {
  user-select: none;
  -webkit-user-select: none;
  position: relative;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  height: 60px;
  overflow: hidden;
  cursor: pointer;
}
.ui-generic-list-item.ui-theme-light {
  border-bottom-color: #d4d4d4;
  background-color: #e6e6e6;
  color: #222222;
}
.ui-generic-list-item.ui-theme-dark {
  background-color: #000000;
  border-bottom-color: #d4d4d4;
  color: #ffffff;
}
.ui-generic-list-item.bold-weight {
  height: 100px;
}
.ui-generic-list-item > .img {
  height: 60px;
  width: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  -webkit-transition: opacity 1.0s linear;
  -webkit-transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}
.ui-generic-list-item.bold-weight > .img {
  border-style: none;
  height: 100px;
  width: 100px;
}
.ui-generic-list-item > .details {
  position: absolute;
  top: 0px;
  left: 70px;
  bottom: 0px;
  right: 0px;
  font-size: 15px;
}
.ui-generic-list-item.bold-weight > .details {
  left: 120px;
}
.ui-generic-list-item > .details > .title {
  margin-top: 12px;
  font-weight: 600;
  white-space: nowrap;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: -blackberry-fade;
}
.ui-generic-list-item.bold-weight > .details > .title {
  font-size: 30px;
  margin-top: 0px !important;
}
.ui-generic-list-item.has-accent > .details > .title {
  margin-top: 6px;
}
.ui-generic-list-item.no-caption > .details > .title {
  margin-top: 20px;
}
.ui-generic-list-item.no-caption.has-accent > .details > .title {
  margin-top: 15px;
}
.ui-generic-list-item > .details > .accent {
  font-size: 10px;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: -blackberry-fade;
  display: none;
  margin-top: 0px;
}
.ui-generic-list-item.bold-weight > .details > .accent {
  font-size: 15px;
  height: 20px;
}
.ui-generic-list-item.ui-theme-light > .details > .accent {
  color: #747474;
}
.ui-generic-list-item.ui-theme-dark > .details > .accent {
  color: #ffffff;
}
.ui-generic-list-item.has-accent > .details > .accent {
  display: inherit;
}
.ui-generic-list-item > .details > .caption {
  font-size: 15px;
  height: 20px;
  padding-top: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: -blackberry-fade;
  margin-top: -3px;
}
.ui-generic-list-item.ui-theme-dark > .details > .caption {
  color: #747474;
}
.ui-generic-list-item.bold-weight > .details > .caption {
  font-size: 24px;
  height: 34px;
}
.ui-generic-list-item.ui-theme-dark > .details > .caption {
  color: #ffffff;
}
.ui-generic-list-item.no-caption > .details > .caption {
  display: none;
}
/* Header */
.ui-header {
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-left: 5px;
  clear: both;
}
.ui-header.ui-theme-dark {
  color: #ffffff;
}
.ui-header.bold-weight {
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  border-bottom-width: 2px;
  padding-left: 10px;
}
/* Image List Item */
.ui-image-list-item {
  user-select: none;
  -webkit-user-select: none;
  position: relative;
  float: left;
  display: table-cell;
  width: 25%;
  padding-bottom: 25%;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
}
.ui-image-list-item > .img {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  -webkit-transition: opacity 1.0s linear;
  -webkit-transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}
.ui-image-list-item > .caption {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gIBFAgWAb7XDwAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAADUlEQVQI12NgYGCoBwAAhACAxkwJbwAAAABJRU5ErkJggg==");
  position: absolute;
  min-height: 25px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  font-size: 15px;
  color: #FFFFFF;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: center;
  overflow: hidden;
}
.ui-image-list-item > .caption.no-caption {
  display: none;
}
/* Segmented Control */
.ui-segmented-control {
  user-select: none;
  -webkit-user-select: none;
  position: relative;
  height: 35px;
  line-height: 35px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: white;
}
.ui-segmented-control.ui-theme-light {
  border-color: #d4d4d4;
}
.ui-segmented-control.ui-theme-dark {
  border-color: #ffffff;
  background-color: #000000;
}
.ui-segmented-control.bold-weight {
  border-width: 2px;
  height: 50px;
}
.ui-segmented-control > .button {
  position: absolute;
  box-sizing: border-box;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  text-align: center;
  border-left-width: 1px;
  border-left-style: solid;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: -blackberry-fade;
  font-size: 15px;
  -webkit-transition: background-color 0.5s linear;
}
.ui-segmented-control.ui-theme-light > .button {
  border-color: #d4d4d4;
}
.ui-segmented-control.ui-theme-dark > .button {
  border-color: #ffffff;
  color: #ffffff;
}
.ui-segmented-control.bold-weight > .button {
  border-left-width: 2px;
  font-size: 25px;
  height: 50px;
  line-height: 50px;
}
.ui-segmented-control > .button.selected {
  font-weight: bold;
}
.ui-segmented-control.ui-theme-light > .button.selected {
  color: white;
}
.ui-segmented-control > .button.left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left-color: transparent;
}
.ui-segmented-control.bold-weight > .button.left {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.ui-segmented-control > .button.right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right-color: transparent;
}
.ui-segmented-control.bold-weight > .button.right {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
/* Split View styling */
.ui-split-view {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
}
.ui-split-view > .col {
  position: absolute;
  top: 0px;
  bottom: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -webkit-overflow-scrolling: -blackberry-touch;
}
.ui-split-view > .col.left {
  left: 0px;
  right: 50%;
  border-right: 2px solid;
}
.ui-split-view > .right {
  right: 0px;
  left: 50%;
}
/* Tab styling */
.ui-tab {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-overflow-scrolling: -blackberry-touch;
  z-index: 0;
}
/* Tabbed Pane styling */
.ui-tabbed-pane {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
}
/* Tile Group */
.ui-tile-group {
  user-select: none;
  -webkit-user-select: none;
  margin-top: 10px;
  margin-bottom: 10px;
  visibility: hidden;
}
.ui-tile-group.bold-weight {
  width: 768px;
  margin-right: auto;
  margin-left: auto;
}
.ui-tile-group .group-inner {
  position: relative;
  box-sizing: border-box;
}
/* Our main class for window panes */
.ui-window-pane {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
}
.ui-window-pane > .back-bar {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAACNvAAAjbwE1/Af7AAAAB3RJTUUH3wITEwU3zHrjKAAAAfNJREFUeNrt3SFOQ0EARdH30SgUS8Dia0gwsC4WwiYA0wSDx7IEFAo/GASyogwT3nmuScVP78l0kopuY4xY7058BAAYAAaAAWAAGAB25J0leUhyAUBn/H2S2yTPKyIA4PfjX36/Pl8RAQBz4mdVBADMi78kAgDmxv+J4G6FB978GDQ9fpK8JLlJ8ukEEB8A8QEQHwDxARAfAPEBEB8A8QEQHwDxARAfAPEBEB8A8QEQHwDxARAfAPEBEB8A8QEQHwDxARAfAPEBEB8A8QEQHwDxARC/GoD4xQDELwYgfjEA8YsBiF8MQPxiAOIXAxC/GID4xQDELwYgfjEA8YsBiF8MQPxiAOIXAxC/GID4xQDELwYgfjEA8YsBiO8EsGYAH0muk7we8N5dkqckp9L9rxMAAl8BELgDQOASCAEAEAAAAQAQAAABABAAAAEAEAAAAQAQAAABABAAAAEAEAAAAQAQAAABABAAAAEAEAAAAQAQAAABABAAAAEAEAAAAQAQAAABABAAAAEAEAAAAQAQAAABABAAAAEA9QgAKEcAQDkCAMoRAFCOAIByBACUIwCgHAEA5QgA+DsE9ys89DbGkO64O+RPsN6TXCV5cwL0nQTLxAdgPoKl4gMwF8Fy8QGYh+BxxfgugeYEAMAAMAAMAAPA6vYFjINbZz6islsAAAAASUVORK5CYII=");
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 58px;
  border-bottom-style: solid;
  background-position: 10px center;
  background-size: 38px 38px;
  background-repeat: no-repeat;
}
.ui-window-pane.bold-weight > .back-bar {
  border-bottom-width: 2px;
}
.ui-window-pane.ui-theme-dark > .back-bar {
  background-color: #000000;
}
.ui-window-pane > .back-bar > .caption {
  line-height: 58px;
  padding-left: 58px;
  font-size: 35px;
  font-weight: 100;
  cursor: pointer;
}
.ui-window-pane.ui-theme-dark > .back-bar > .caption {
  color: #ffffff;
}
@-webkit-keyframes ui-pane-slide-left {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
@-webkit-keyframes ui-pane-slide-right {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}
.ui-window-pane.animation {
  -webkit-animation-name: ui-pane-slide-left;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-timing-function: ease;
  -webkit-backface-visibility: hidden;
}
.ui-window-pane > .inner {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-overflow-scrolling: -blackberry-touch;
}
.ui-window-pane.has-back > .inner {
  top: 60px;
}
/* Portrait Smartphone */
@media screen and (max-width: 400px) {
  /* Circle Menu */
  .ui-circle-menu > .menu-item {
    width: 120px;
    height: 120px;
  }
  .ui-circle-menu > .menu-item > .circle {
    height: 100px;
    width: 100px;
    border-radius: 51px;
  }
  .ui-circle-menu > .menu-item > .circle > .icon {
    height: 94px;
    width: 94px;
    border-radius: 48px;
    background-size: 70px 70px;
  }
  .ui-circle-menu > .menu-item > .caption {
    height: 20px;
    line-height: 20px;
    font-size: 15px;
  }
  /* Window Pane */
  .ui-window-pane > .back-bar {
    height: 50px;
    background-position: 5px center;
    background-size: 30px 30px;
  }
  .ui-window-pane > .back-bar > .caption {
    line-height: 48px;
    padding-left: 38px;
    font-size: 24px;
  }
  .ui-window-pane.has-back > .inner {
    top: 52px;
  }
}

